*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    justify-content: center;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.body{
    display: flex;
    justify-content: center;
}


.contenedor {
    padding-top: 50px;

}

h1 {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:tan;
}

h2{
    color: tan;
}

form input {

    align-items: center;
    border-radius: 10px;
    padding: 10px 10px;
    max-width: 230px;
    width: 100%;
}

.btn {
    border-radius: 10px;
    padding: 10px 0px;
    background-color: slateblue;
    color: white;
    max-width: 256px;
    width: 100%;
    transition: all .4s linear;
}

.btn:hover{
    background-color: tan;
    color: slateblue;
    transition: all .4s ease-in;
}

.btn:active{
    background-color: tan;
    color: slateblue;
    transition: all .4s linear;
}

.message{
    max-width: 256px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    text-align: center;
}
.contenedorQR {

    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 256px;
    width: 100%;
    max-height: 256px;
    height: 100%;
    transition: all .4s linear;
}

footer a {
    color: wheat;
    font-weight: bold;
}

#contentToPrint{
    /* background-color: white; */
    width: 759px;

}

#invisible{
     display: none;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

}

li{
    display: flex;
    list-style: none;
}

.borde{
    display: flex;
}

.borde .b3{
    background-color: blue;
    width: 33.333333333333333333%;
    height: 50px;
}

.borde .b1{
    background-color: cyan;
    width: 33.333333333333333333%;
    height: 50px;
}

.borde .b2{
    background-color: steelblue;
    width: 33.3333333333333333%;
    height: 50px;
}

p{
    font-family: Montserrat, Arial, sans-serif;;
    padding-left: 50px;
    
    font-size: larger;
}

#legal{
    position: relative;
    left: 325px;
    bottom: -250px;
    font-weight: bolder;
}

#direccion{
    max-width: 300px;
    text-align: right;
    position: relative;
    left: 350px;
    top: -60px;
}

#certificado{
    font-size: x-large;
    font-weight: bold;
    position: relative;
    bottom: -10px;
    left:-12px
}

#cumpleReq{
    max-width: 300px;
    text-align: right;
    position: relative;
    left: 350px;
    bottom: -200px;
}

.LogoPna {

    width: 270px;
    height: 95px;
    position: relative;
    bottom: -60px;
    left: 40px;
}



.contenedorQR2{
    position: relative;
    top: -100px;
    left: 60px;
}

#fondo{
    background-color: white;
}
