body {
    display:block;
    min-height: 100vh;
    place-items: center ;

}

html {
    scroll-behavior: smooth;
}

header {
    top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
    background-color:black;
    background-attachment:local;
    border-radius: 10px;
    position:sticky;
    left:0px;
    right:0px;
    text-align:center;
    z-index:10;
    animation-name:dropHeader;
    animation-iteration-count:1;
    animation-timing-function:ease;
    animation-duration:1s
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:left;   
    margin-right: auto;
    margin-left: auto;    
}

.superior{
    background-image: url();
}
#aboutMe {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    background-color: #1C6EA4;
    border: 5px solid grey;
    border-radius: 5%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

#educacion {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    background-color: #1C6EA4;
    border: 5px solid grey;
    border-radius: 5%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

h3 {
    text-align: center; 
}

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

.social{
    text-align:center
}

.myButton {
    color: rgb(255, 255, 255); 
    font-size: 18px; 
    line-height: 18px; 
    padding: 11px; 
    border-radius: 6px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
    background-color: azure;
    animation-duration: 3s;
    animation:pulsate 1.5s ease;
    animation-iteration-count:infinite;
}

    @keyframes pulsate{
        0%{transform:scale(1, 1)}
        50%{transform:scale(1.2, 1.2)}
        100%{transform:scale(1, 1)}}
    
        .myButton:hover {
            background: #1C6EA4; }
        .myButton:active {
            background: #144E75; }
    
        .Seccion1 {
            align-items:flex-start;
            color:mediumblue;
            background-image: linear-gradient(to right, 
            rgb(15, 3, 1) 0%, 
            rgb(35, 136, 203) 50%, 
            rgb(20, 78, 117) 100%);
            box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
            margin: 1cm;
            margin-right: auto;
            margin-left: auto;
            padding: 10px;
        }
        
    iframe {
        height: 100%;
        width: 100%;
        object-fit:contain ;
    }
    
    .IMG {
        height:auto;
        width: auto;
    }

    img{
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        object-fit:contain ;
    }
    
    a {
        text-decoration:solid;
        color: blue;    
        transition: color 0.8s linear 0.2s;
        transition-property:all;
        transition-duration: 10s;
        transition-timing-function: linear;
        transition-delay: 0.5s;
    }
    a:hover {
        color: red;
    }
    
    
      @keyframes slide-right {
        from {
          margin-left: 200px;
        }
        50% {
          margin-left: -200px;
          opacity: 1;
        }
        50% {
          opacity: 0.9;
        }
        to {
          margin-left: 0px;
        }
      } 
    
    /* PARA  ARMAR  UN CUADRO DE TEXTO*/ 
    aside{
        padding: 0.5cm;
        background-image: linear-gradient(to right, 
        rgb(15, 3, 1) 0%, 
        rgb(35, 136, 203) 50%, 
        rgb(20, 78, 117) 100%);
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
        color:aliceblue;
        height: 100%;
        width: 100%;
        object-fit:contain ;
    }
  
    #FORMULARIO {
      text-align: center;
    }
    
    @keyframes dropHeader{
        0%{transform:translateY(-100%)}
        100%{transform:translateY(0)}
    }
    
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    ul{
        list-style-image: url(/images/logoArriba.png);
    }

    .to-top{
        margin:75px;
    }

    form{

    }
    
