body {
    display:block;
    min-height: 100vh;
    place-items: center ;
    font-size: 1.5rem;
    background: url(/images/ANGELINANUT.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center center;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
    /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
    para probar la diferencia con y sin scroll suavizado*/
}

header {
    top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
    background-color:black;
    background-attachment:local;
    border-radius: 10px;
    position:sticky;
    left:0px;
    right:0px;
    text-align:center;
    z-index:10;
    animation-name:dropHeader;
    animation-iteration-count:1;
    animation-timing-function:ease;
    animation-duration:1s
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 150px;     
    text-align: center;   
    margin-right: auto;
    margin-left: auto;    
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: larger;
    background-color: #1C6EA4;
    border: 10px solid grey;
    border-radius: 10%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

h3 {
    text-align: center; 
}

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.myButton {
        color: rgb(255, 255, 255); 
        font-size: 18px; 
        line-height: 18px; 
        padding: 11px; 
        border-radius: 6px; 
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
        box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
        border: 2px solid rgb(28, 110, 164); 
        display: inline-block;
        background-color: azure;
        animation-duration: 3s;
        animation:pulsate 1.5s ease;
        animation-iteration-count:infinite;
        }
    
        
        @keyframes pulsate{
        0%{transform:scale(1, 1)}
        50%{transform:scale(1.2, 1.2)}
        100%{transform:scale(1, 1)}}

        .myButton:hover {
            background: #1C6EA4; }
        .myButton:active {
            background: #144E75; }

        .Seccion1 {
            align-items:flex-start;
            color:mediumblue;
            background-image: linear-gradient(to right, 
            rgb(15, 3, 1) 0%, 
            rgb(35, 136, 203) 50%, 
            rgb(20, 78, 117) 100%);
            box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
            margin: 2cm;
            margin-right: auto;
            margin-left: auto;
            padding: 20px;
        }
        
        .cuadro {
            padding: 11px;
        }
    


    .PDF {
        height:500px;
        width: 1000px;
    }
        iframe {
            height: 100%;
            width: 100%;
            object-fit:contain ;
        }

    .IMG {
        height:500px;
        width: 400px;
    }
    img{
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        object-fit:contain ;
    }

    a {
        text-decoration:solid;
        color: blue;    
        transition: color 0.8s linear 0.2s;
        transition-property: text-decoration;
        transition-duration: 10s;
        transition-timing-function: linear;
        transition-delay: 0.5s;
    }
    a:hover {
        color: red;
    }


      @keyframes slide-right {
        from {
          margin-left: 200px;
        }
        50% {
          margin-left: -200px;
          opacity: 1;
        }
        50% {
          opacity: 0.9;
        }
        to {
          margin-left: 0px;
        }
      } 

    /* PARA  ARMAR  UN CUADRO DE TEXTO*/ 

    aside{
        padding-top: 1.5cm;
        background-image: linear-gradient(to right, 
        rgb(15, 3, 1) 0%, 
        rgb(35, 136, 203) 50%, 
        rgb(20, 78, 117) 100%);
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
        height: 100%;
        width: 100%;
        object-fit:contain ;
    }
    .ASD {
        height:200px;
        width: 1000px;
    }

    

    #FORMULARIO {
      text-align: center;
    }


@keyframes dropHeader{
  0%{transform:translateY(-100%)}
  100%{transform:translateY(0)}
}
  


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul{
  list-style-image: url(/images/logoArriba.png);
}
.to-top{
  margin:75px;
}

#fa.fa-chevron-up:before{content:"\f077"}

#fa.fa-chevron-down:before{content:"\f078"}

  footer{
      text-align:center
  }
  .social{
      text-align:center
  }
  
 