.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    -webkit-mask-image: url('shape.png');
    mask-image: url('shape.png');
    -webkit-mask-size: cover;
    mask-size: cover;
}

.shape {
    display: none;
    /* Esconde la imagen de forma */
}