/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'system-ui', sans-serif;
  line-height: 1.6;
  color: #f9f9f9; /* Texto blanco para visibilidad en fondo oscuro */
  background-color: #121212; /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  /* Fondo de la imagen */
  background-image: url('../images/logo-dotdager.png'); /* Reemplaza con la ruta de tu imagen */
  background-repeat: repeat; /* La imagen se repetirá */
  animation: moveBackground 10s ease-in-out infinite; /* Animación para mover el fondo */

  /* Cursor personalizado */
  cursor: url('../images/dager1.png') 16 16, auto !important; /* Coordenadas X, Y del punto activo */
}

.container {
  width: 1200px;
  max-width: 85%;
  text-align: center;
  position: relative; /* Necesario para el pseudo-elemento */
  padding: 20px;
  border-radius: 8px;
  background: #1f1f1f; /* Fondo sólido para el contenido */
  z-index: 1; /* Para mantener el contenido visible */
  overflow: hidden; /* Para que el pseudo-elemento respete los bordes redondeados */
}

.container::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(135deg, rgba(132, 16, 99, 0.6), rgba(34, 169, 90, 0.6));
  z-index: -1; /* Detrás del contenido */
  border-radius: 12px; /* Ajusta para que sobresalga como el borde */
  pointer-events: none; /* Evita interferencias con el pseudo-elemento */
}


.header {
  margin-bottom: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #42f5d7;
  /* Mantener borde colorido en la imagen */
}

.name {
  margin-top: 10px;
  font-size: 2rem;
  color: #42f5d7;
  /* Color de texto brillante */
}

.tagline {
  font-size: 1.2rem;
  color: #bbb;
  /* Texto en gris claro */
}

.about h2,
.books h2 {
  margin: 20px 0 10px;
  color: #f9f9f9;
  font-size: 2rem;
  /* Texto blanco para mejor contraste */
}

.about p,
.books ul {
  font-size: 1.5rem;
  color: #bbb;
  /* Texto gris claro */
}

.books ul {
  list-style-type: none;
  padding: 0;
}

.books li {
  margin: 15px 0;
  text-align: left;
}

.books strong {
  font-size: 1.1rem;
  color: #42f5d7;
  /* Resaltar con color brillante */
}

.books p {
  font-size: 0.9rem;
  color: #ddd;
  /* Gris más claro para el texto de los párrafos */
  margin-top: 5px;
}

.footer {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #aaa;
  /* Gris claro para el pie de página */
}

/* Sección de juego */
.game iframe {
  margin-top: 10px;
  max-width: 500px;
  height: 600px;
  border-radius: 8px;
  box-shadow: none;
  /* Eliminar sombra */
    -webkit-mask-image: -webkit-linear-gradient(rgb(25, 25, 25), transparent);
  mask-image: linear-gradient(rgb(25, 25, 25), 80%, transparent);

}

.game p {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #bbb;
  /* Gris claro */
}

/* Sección de ideas de stacks */
.community-stacks {
  margin-top: 30px;
  text-align: center;
}

.community-stacks p {
  font-size: 1.3rem;
}
.stack-input {
  margin-top: 15px;
}

.stack-input input {
  padding: 10px;
  width: 60%;
  max-width: 300px;
  font-size: 1.5rem;
  border: 2px solid #444;
  /* Bordes más oscuros */
  border-radius: 5px;
  margin-right: 10px;
  background-color: #333;
  /* Fondo oscuro para el input */
  color: #f9f9f9;
  /* Texto blanco */
}

.stack-input button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #42f5d7;
  /* Mantener el botón brillante */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stack-input button:hover {
  background-color: #36c9aa;
  /* Color más oscuro al pasar el mouse */
}

.stack-results {
  margin-top: 20px;
}

.stack-results h3 {
  color: #42f5d7;
  /* Mantener el color brillante en los encabezados */
}

.stack-results p {
  font-size: 1.1rem;
  color: #bbb;
  /* Gris claro */
  font-style: italic;
}

/* Estilos para Redes Sociales */
.social-networks {
  margin-top: 30px;
  text-align: center;
}

.social-networks h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #f9f9f9;
  /* Texto blanco */
}

/* Estilo inicial (plegado) */
.social-networks {
  max-height: 0;          /* Oculta el contenido */
  overflow: hidden;       /* Evita que el contenido sea visible */
  transition: max-height 0.5s ease-out; /* Suaviza la animación */
}

/* Estilo desplegado */
.social-networks.active {
  max-height: 1000px; /* Ajusta según el tamaño de tu contenido */
}


.social-links {
  list-style: none;
  /* Quitar los puntos */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.social-links li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #333;
  /* Fondo oscuro */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Ligera sombra */
  padding: 10px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-links li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  /* Efecto de sombra más fuerte */
}

.social-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #f9f9f9;
  /* Texto blanco */
}

.social-links a:hover {
  color: #fff;
  /* Color blanco al pasar el mouse */
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-links span {
  font-size: 1.1em;
  font-weight: bold;
}

.language-container {
  position: relative;
}

.change-language {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 20px 25px;
  font-size: 1.1em;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.4s;
  background-image: url(../images/cucumber.png);
  /* Imagen inicial */
  background-size: contain;
  background-repeat: no-repeat;
  animation: moveCucumber 3s infinite linear;
}

.change-language:hover {
  animation: none;
  /* Detiene la animación */
  background-image: url(../images/cucumber.png);
}

@keyframes moveCucumber {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 100px 0;
    rotate: 5deg;
  }

  75% {
    background-position: 0 0;
    rotate: -5deg;
  }

  100% {
    background-position: 0 0;
  }
}

/* Estilos generales */
iframe {
  width: 100%;
  border: none;
  transition: all 0.3s ease;
}


.desktop iframe {
  height: 700px;
  /* Altura mayor en PC */
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
    /* Movimiento horizontal normal */
  }

  60% {
    background-position: 105% 0;
    /* Saltito (deslizamiento extra) */
  }

  70% {
    background-position: 100% 0;
    /* Vuelve a la posición original */
  }

  100% {
    background-position: 0 0;
    /* Vuelve al inicio al final del ciclo */
  }
}

#audio {
  display: none;
}

#toggle-music {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  /* Fija el botón en la pantalla */
  top: 10px;
  /* Distancia desde la parte superior */
  right: 10px;
  /* Distancia desde la parte derecha */
  z-index: 1000;
  /* Asegura que esté encima de otros elementos */
}

#toggle-music svg {
  fill: #ffffff;
  width: 36px;
  height: 36px;
  transition: fill 0.3s;
}

#toggle-music:hover svg {
  fill: #4CAF50;
}

.books {
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -webkit-mask-image: -webkit-linear-gradient(rgb(25, 25, 25), transparent);
  mask-image: linear-gradient(rgb(25, 25, 25), 80%, transparent);

}

.book-cards {
  display: flex;
  gap: 20px;
    max-width: 900px;
  margin: auto;
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  padding: 10px;
  scroll-snap-type: x mandatory; /* Mejora la experiencia de desplazamiento */
  -webkit-mask-image: -webkit-linear-gradient(rgb(25, 25, 25), transparent);
  mask-image: linear-gradient(rgb(25, 25, 25), 80%, transparent);

}

.book-cards::-webkit-scrollbar {
  height: 8px; /* Tamaño del scroll */
}

.book-cards::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 280px;
  flex-shrink: 0; /* Evita que las tarjetas se reduzcan */
  height: 370px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start; /* Ajusta las tarjetas al contenedor */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img.book-cover {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #4CAF50;
}

.card-content p {
  margin: 5px 0;
  color: #666;
  font-size: 0.9em;
}


.banner {
  width: 100%;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  -webkit-mask-image: -webkit-linear-gradient(rgb(25, 25, 25), transparent);
  mask-image: linear-gradient(rgb(25, 25, 25), 80%, transparent);

  height: auto;
  display: block;
}

/* Botón de música */
#play-music-btn {
  background-color: #4CAF50; /* Verde suave */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

#play-music-btn:hover {
  background-color: #45a049; /* Más oscuro al pasar el mouse */
  transform: scale(1.05);
}

#play-music-btn:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}

/* Ícono de música dentro del botón */
#play-music-btn svg {
  width: 20px;
  height: 20px;
  fill: white;
}

/* Alineación */
#play-music-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#toggleImg{

  background-size: contain; 
  max-width: 100%;
}

#toggleButton {
  padding: 145px 250px;
  font-size: 1rem;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  background-color: #42f5d7;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-image: url("../images/dager11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-mask-image: -webkit-radial-gradient(rgb(25, 25, 25), transparent);
  mask-image: radial-gradient(rgb(25, 25, 25), transparent);
}

#toggleButton p {
  opacity: 0;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#toggleButton:hover {
  background-color: #36c9aa;
  background-image: url(../images/dager10.jpg);
}

#toggleButton:active {
  background-color: #36c9aa;
  background-image: url(../images/dager10.jpg);
}

#toggleButton:hover p {
  opacity: 1;
}

#generateStack {
  margin-top: 15px;
}

label {
  font-size: 2rem;
}

@media only screen and (max-width: 650px) {
  .tagline {
    font-size: 0.8rem;
  }

  .card {

    width: 210px;
    height: 280px;
  }

  p,
  .game p,  
  .about p,
  .community-stacks p {
    font-size: 1.1rem;
  }

  #toggleButton {
    padding: 55px 90px;
  }  
}