/* :root {
  --root-color: #252525;
  --text: #d1d5da;
  --color-fondo-switch-no-seleccionado: var(--text);
  --color-fondo-switch-seleccionado: var(--root-color);
  --color-borde-switch-no-seleccionado: var(--text);
  --color-borde-switch-seleccionado: var(--text);

  --footer: black;
  --main-background: rgb(25, 25, 25);
  --main-text: #fff;

  --main-background-notselected: var(--main-background);
  --main-background-selected: var(--main-text);
  --main-text-notselected: var(--main-text);
  --main-text-selected: var(--main-background);

}

input[type="checkbox"]:not(:checked) {
  --color-fondo-switch: var(--color-fondo-switch-no-seleccionado);
  --color-borde-switch: var(--color-borde-switch-no-seleccionado);
  --color-main: var(--main-background-notselected);
  --color-main-text: var(--main-text-notselected);
}

input[type="checkbox"]:checked {
  --color-fondo-switch: var(--color-fondo-switch-seleccionado);
  --color-borde-switch: var(--color-borde-switch-seleccionado);
  --color-main: var(--main-background-selected);
  --color-main-text: var(--main-text-selected);}

.switch {
  position: relative;
}

main {
  transition: .4s all ease-in;
}

main:has(input[type="checkbox"]:checked) {
  transition: .4s all ease-in;
  background: #d1d5da;
  color: var(--root-color);
}

input[type="checkbox"] {
  width: 90px;
  height: 50px;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 99999px;
  border: 5px solid var(--color-borde-switch);
}

input[type="checkbox"]:checked {
  transition: .4s all ease-in;
  border-color: #3a1d6d;
  background: #271052;
}

input[type="checkbox"]::before {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: url('../images/sun.png');
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  transform: scale(-1.05) rotate(60deg);
  transition: all .4s linear;
}

input[type="checkbox"]:checked::before {
  background-image: url('../images/moon.png');   
  left: 50px;
} */

/* p:has(input[type="checkbox"]:checked){ */
/* color:#d1d5d1; */
/* } */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Quicksand", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2rem;
  background-color: black;
}

a {
  /* font-family: 'Ysabeau Infant', sans-serif; */
  font-size: 1.1rem;
}

.body-wrapper {
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  background-color: rgb(25, 25, 25);
  background-image: url("../images/backgroundpetruzzo.webp");
  /* -webkit-mask-image: radial-gradient( rgb(25, 25, 25), transparent); 
  mask-image: radial-gradient( rgb(25, 25, 25), transparent); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45% 100%;
  color: #fff;
  position: relative;
  padding: 5rem 0;
  height: 100vh;
  height: 100svh;
}

main {
  grid-area: main;
  background-color: rgb(25, 25, 25);
  color: #fff;
}

footer {
  grid-area: footer;
  /* background-color: rgb(25, 25, 25); */
  background-color: black;
}

.section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 50rem;
}

.section.examples {
  padding: 20px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #79db75;
  font-size: 0.9em;
}

.link--nourl {
  color: #fff;
}

.link--nourl:hover {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.nav {
  position: relative;
  z-index: 9;
  font-size: 0.8em;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  color: #fff;
  cursor: pointer;

}

.nav-link:not(:first-child) {
  margin-left: 0.5rem;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1.5rem;
  width: 0%;
  height: 2px;
  background-color: #79db75;
  transition: all 0.1s ease-in;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-social {
  display: flex;
  align-items: center;
}

.nav-social a {
  display: inline-block;
}

.nav-social-link {
  position: relative;
  transition: all 0.2s ease-in;
}

.nav-social-link:not(:first-child) {
  margin-left: 1rem;
}

.nav-social__icon {
  width: 2rem;
  height: 2rem;
  filter: grayscale(1);
  background-size: 100%;
}

.nav-social__icon-soundcloud {
  scale: 0.82;
  background-image: url("../images/github.webp");
}

.nav-social__icon-twitter {
  background-image: url("../images/twitter.webp");
}

.nav-social__icon-ig {
  background-image: url("../images/ig.webp");
}

.nav-social__icon-in {
  background-image: url("../images/in.png");
}

.nav-social-link:hover {
  transform: scale(1.2);
  filter: sepia(1) saturate(2.5) hue-rotate(65deg);
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.title__name {
  /* font-family: "Major Mono Display"; */
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
  /* font-weight: lighter; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  word-wrap: break-word;
  transition: filter 0.1s ease-in;
}

.title__name:hover {
  filter: blur(1px);
}

.title__subtitle {
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 1.5em;
  margin: 0;
  margin-left: 0.2rem;
  /* color: rgba(0, 0, 0, 0.5); */
  color: #79db75;
  font-weight: lighter;
}

.title__icon {
  font-size: 0.5em;
  padding: 0 0.5rem;
}

.header__nav {
  padding-top: 0rem;

}

.section__title {
  /* color: #79db75; */
  text-transform: uppercase;
  font-size: 2em;
  font-weight: lighter;
}

.section__subtitle {
  color: #79db75;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: lighter;
}

.desc {
  margin: 1rem 0;
}

.cover-letter__article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cover-letter__desc {
  text-align: left;
  margin: 0;
}

.cover-letter__photo {
  width: 100%;
  height: 20rem;
  margin: 1rem 0;
  background-image: url("../images/profile1.jpg");
  background-size: 100%;
  -webkit-mask-image: -webkit-radial-gradient(black, transparent);
  mask-image: radial-gradient(black, transparent);
  border-radius: 25%;
  background-repeat: no-repeat;
}

.experience__item {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5rem 0;
}

.experience__date,
.experience__desc {
  width: 100%;
}

.experience__desc__title {
  margin: 0;
}

.experience__desc__subtitle {
  margin: 0;
  font-weight: bold;
  color: #79db75;
  font-size: 0.9em;
}

.examples__wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.examples__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.examples__wrapper--game {
  padding-bottom: 0;
  height: 177px;
}

.examples__wrapper--game .widget_container {
  padding-bottom: 0;
  height: 360px;
}

.experience__desc span {
  display: block;
}

.contact__form {
  width: 100%;
}

.btn {
  display: inline-block;
  background: #191919;
  border: 0.1rem solid #ddd;
  text-decoration: none;
  color: #ddd;
  text-align: center;
  padding: 1rem;
  margin: 0.3rem 0;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  border-radius: 1rem;
  opacity: 0.7;
}

.field {
  display: block;
  margin: 1rem 0;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ddd;
  background-color: rgb(25, 25, 25);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.field--textarea {
  height: auto;
  margin-bottom: 0;
}

.field:focus {
  border-color: #79db75;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #79db75;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #79db75;
}

.fields-requirements {
  margin-top: 0;
  font-style: italic;
  font-size: 0.9rem;
}

.footer__name {
  color: rgb(50, 50, 50);
  width: 75%;
  margin: 0;
  margin-bottom: 1rem;
}

.footer__wrapper {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 30rem) {
  .header__wrapper {
    bottom: -50vh;
    bottom: -50svh;
  }
}

@media (min-width: 80rem) {
  .nav {
    font-size: 1em;
  }

  .header__nav {
    padding-top: 0;
  }

  .header__wrapper {
    flex-direction: row;
    bottom: -50vh;
    bottom: -50svh;
    left: -30vh;
    left: -30svh;
  }

  .header__title {
    margin-bottom: 0;
  }

  .cover-letter__article {
    flex-wrap: nowrap;
  }

  .cover-letter__desc {
    width: 45%;
  }

  .cover-letter__photo {
    width: 50%;
    height: 20rem;
    margin: 0;
  }

  .experience__date {
    width: 25%;
  }

  .experience__desc {
    width: 75%;
  }

  .contact__form {
    width: 100%;
  }

  .contact__info {
    font-size: 2em;
    text-align: left;
  }

  .footer__name {
    margin: 0;
  }
}

/* @media (min-height: 38rem) {
  .header__wrapper {
    bottom: -40vh;
  }
} */

.skills {
  padding: 2rem;
  margin: 0 auto;
  max-width: 50rem;
}

.skills__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill {
  text-align: center;
}

.skill__icon {
  font-size: 3rem;
  color: #79db75;
}

.skill__name {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
}

/* Estilos para el contenedor principal */
.skillscontainer {
  max-width: 1350px;
  margin: auto;
  overflow-x: auto;
  flex-wrap: wrap;
  /* Envolver elementos si no caben en una sola fila */
  justify-content: space-between;
  /* Espacio uniforme entre elementos */
  align-items: stretch;
  /* Igualar la altura de todos los elementos */
}

.eachskillcontainer {
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 20s linear infinite;
  /* display: block; Usar display: flex para igualar la altura de las columnas */
  flex: 0 0 calc(100px);
  /* Ajustar el ancho de los elementos */
  /* El 33.33% asegura que haya tres elementos por fila en una pantalla ancha */
  margin: 20px 0;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  gap: 50px;
  width: 400px;
}

/* Estilos para las imágenes */
.imgBx {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  /* Espacio entre la imagen y el texto */
  border: 2px solid #333;
  border-radius: 50%;
  overflow: hidden;
}

.imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgBx:hover {
  scale: 1.1;
}

/* Estilos para el contenido del box */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* Alinear el contenido verticalmente */
}

.content h2 {
  /* font-size: 24px; */
  margin: 0;
}

.content p {
  font-size: 16px;
  margin: 0;
  flex-grow: 1;
  /* Hace que el texto ocupe todo el espacio vertical disponible */
}

::-webkit-scrollbar {
  display: none;
}

/* por cada cosa que quiera agregar en skill tengo que agregar 150 px y en el html agregarlo doble */
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-1350Px));
    transform: translateX(calc(-1350px));
  }
}

/* por cada cosa que quiera agregar en skill tengo que agregar 150 px y en el html agregarlo doble */
@keyframes scaleanimation {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

/* Estilo para la sección de las tarjetas en forma de lista */
.examples__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

/* Estilo para cada tarjeta individual en la lista */
.examples__list li {
  position: relative;
  max-width: 700px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: filter 0.3s ease-in-out;
}

/* Estilo para la imagen dentro de la tarjeta en la lista */
.examples__list li iframe,
.examples__list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para la imagen dentro de la tarjeta en la lista */
.examples__list li iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Efecto de cover para la imagen */
  border-radius: 15px;
  /* Ajusta según el borde de la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor para el texto encima de la imagen en la lista */
.examples__list li .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Estilo para el contenido de la tarjeta en la lista */
.examples__list li .text-overlay .card-content {
  background: rgba(255, 255, 255, 0.8);
  /* Fondo semitransparente */
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  /* Transición para el contenido */
  transform: translateY(100%);
  /* Inicialmente oculto fuera de la tarjeta */
}

/* Efecto de desenfoque al hacer hover en la lista */
.examples__list li:hover {
  filter: blur(0px);
  /* Ajusta el valor según lo desees */
}

/* Muestra el contenido al hacer hover en la lista */
.examples__list li:hover .text-overlay .card-content {
  transform: translateY(0);
}

ul {
  margin-block-start: 0px !important;
  padding-inline-start: 0px !important;
}

.card .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0px;
  background-color: #79db75;
  transition: all 0.1s ease-in;
}

.card .nav-link:not(:first-child) {
  margin-left: 0;
}